<launch>
	<!-- Convenience arguments: -->
	<arg name="rsp" default="robot_state_publisher" />
	<arg name="pkg" value="$(find jabin)" />

	<!--joint_states_topic: Topic on which joint states are published. -->
	<arg name="joint_states_topic" default="joint_states" />

	<!--machine_host: The DNS machine name (e.g. "ubuntu.local") -->
	<arg name="machine_host" default="127.0.0.1" />

	<!--machine_name: The machine name (i.e. "robot" or "viewer") -->
	<arg name="machine_name" default="localhost" />

	<!--machine_user: The user account on the machine. -->
	<arg name="machine_user" default="wimble" />

	<!--node_name: The name of the ROS node. -->
	<arg name="node_name" default="n_$(arg rsp)" />

	<!-- Define the machine to run on: -->
	<machine name="$(arg machine_name)" address="$(arg machine_host)" user="$(arg machine_user)" env-loader="/tmp/env_loader.sh" />

	<!--publish_frequency: The frequency at which to publish -->
	<arg name="publish_frequency" default="50.0" />

	<!--robot_description_file: The name of a file that contains the robot structure in URDF format. -->
	<arg name="robot_description_file" default="$(arg pkg)/urdf/robot.urdf" />

	<!-- For some reason we have to set the `robot_description` parameter out here
	     rather than inside the `<node ... >...</node>`.  This works.  -->
	<param name="robot_description" textfile="$(arg robot_description_file)" />

	<!--tf_prefix: The text to prepend to each TF name. -->
	<arg name="tf_prefix" default="" />

	<!--use_tf_static: Set to true to use /tf_static latched static broadcaster. -->
	<arg name="use_tf_static" default="true"/>

  	<!-- Launch the robot state publisher:  -->
	<node machine="$(arg machine_name)" name="$(arg node_name)" pkg="$(arg rsp)" type="state_publisher">
		<remap from="joint_states" to="$(arg joint_states_topic)" />
		<param name="tf_prefix" value="$(arg tf_prefix)" />
		<param name="publish_frequency" value="$(arg publish_frequency)" />
		<param name="use_tf_static" value="$(arg use_tf_static)" />
	</node>
</launch>